extends layout

block content
  h1 Register a new account
  br
  form(method='POST', action='/users/register')
    #form-group
      label Name:
      input.form-control(name='name', type='text', autocomplete='name', placeholder='Full name', required)
    br
    #form-group
      label Email:
      input.form-control(name='email', type='email', autocomplete='email', placeholder='name@example.com', required)
    br
    #form-group
      label Username:
      input.form-control(name='username', type='text', autocomplete='username', placeholder='username', required)
    br
    #form-group
      label Password:
      input.form-control(name='password', type='password', autocomplete='new-password', placeholder='password', required)
    br
    #form-group
      label Retype password:
      input.form-control(name='password2', type='password', autocomplete='new-password', placeholder='password', required)
    br
    input.btn.btn-primary(type='submit', value='Submit')
